@import url('https://fonts.googleapis.com/css?family=Roboto:300|Satisfy|Open+Sans+Condensed:700');

/************ Mixins *************/
@mixin linear-gradient {
  background-image: linear-gradient(to top right, rgba(5,229,239,0.7), $blue ), url('../assets/images/presentation.jpg');
  background-image: -webkit-linear-gradient(to top right, rgba(5,229,239,0.7), $blue ), url('../assets/images/presentation.jpg'); /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(to top right, rgba(5,229,239,0.7), $blue ), url('../assets/images/presentation.jpg'); /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(to top right, rgba(5,229,239,0.7), $blue ), url('../assets/images/presentation.jpg');  /* For Firefox 3.6 to 15 */
}
@mixin box-ordinal-group($number) {
  -moz-box-ordinal-group:$number;      
  -webkit-box-ordinal-group:$number;      
  box-ordinal-group:$number;      
  margin: 10px;       
}


/************ Color Palette *************/
$red: #f77;
$pink: #eb8cb6;
$white: #f5f5f5;
$sea-green: #05e5ef;
$dark-teal: #18c5c3;
$blue: rgba(17,113,200,1);
$dark-grey: #555;
$light-grey: #f9f9f9;


/************ Animations *************/
@keyframes fade-in {
  0%,
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scroll-more {
0% { transform: translateY(0); }
15% { transform: translateY(30%);  }
30% { transform: translateY(0); }
45% { transform: translateY(30%);  }
60% {  transform: translateY(0); }
70% { transform: scale(1.15); }
80% { transform: scale(1); }
90% { transform: scale(1.15); }
100% { transform: scale(1); }
}

/************ Maps *************/
$z-index: (
  background: 1,
  scroll-icon: 10, 
  overlay: 100,
  nav-icon: 1000,

);

$breakpoints: (
  xs: 320px,
  sm: 470px,
  md: 650px,
  lg: 944px,
  xl: 1165px
);

$mobile-font: (
  xsmall: 0.60rem,
  small: 1.2rem,
  medium: 2rem,
  large: 3rem,
  xlarge: 5rem,
  cursive: "Satisfy",
  normal:'Roboto',
  block: 'Open Sans Condensed',
  caps: uppercase,
  heavy: 700
);

$media-font: (
  tablet: 6rem,
  laptop: 8rem,
  desktop: 10rem
);


/************ Functions *************/
/*
TODO: Add function if device screen is less than 500px
swap out #home img to the pointer 
*/
@function z($key) {
  @if map-has-key($z-index,$key) {
    @return map-get($z-index, $key);
  }
}
@function screen($key) {
  @if map-has-key($breakpoints,$key) {
    @return map-get($breakpoints, $key);
  }
}
@function text($key) {
  @if map-has-key($mobile-font,$key) {
    @return map-get($mobile-font,$key);
  }
  @else {
    @return null;
  }
}
@function lg-text($key) {
  @if map-has-key($media-font,$key) {
    @return map-get($media-font, $key);
  }
}


/************ Placeholders *************/
%center { text-align: center; }
%span {
  position: relative;
  display: block;
  background: $white;
  height: 4px;
  margin: 12% 20%;

}
%center-whole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0;
}

/************ Elements *************/
html { font-size: 16px; }

a {
  color: $blue;
  &:hover,
  &:active {
    color: $pink;
    text-decoration: none;
  }
}
body {
  font: {
    family: text(normal);
  }
  line-height: 2;
  overflow-x: hidden;
  background: #fff;
}
footer {
  position: absolute;
  bottom: 0;
  font-size: text(xsmall);
  margin-top: 4.5%;
  .heart-icon {
    color: $red;
  }
}

h1 { 
  font-size: text(xlarge);
  font-family: text(cursive);
}
h2, h3, h4, h5 {
  font-family: text(block);
  text-transform: text(caps);
  font-weight: text(heavy);
  @extend %center;
}
h2 {
  top: 3%;
}
.banner {
  position: absolute;
  font-size: text(small);
  color: $white;
}
h3 { font-size: text(xlarge); }
h4 { font-size: text(large); }
h5 { font-size: text(medium); }
h3, h4 { color: $dark-teal; }

nav {
  display: flex;
  background: #18c5c3;
  @extend %center;
  z-index: z(overlay);
  position: fixed;
  height: 100vh;
  width: 100vw;
  @extend %center-whole;
  li {
    padding: 0 3%;
  }
  a {
		text-decoration: none;
		color:  $white;
    font: {
      size: text(xlarge);
      family: text(normal);
      weight: text(heavy);
    }

    &:hover { color: #000; }
  }
}
p {
  color: $dark-grey;
  @extend %center;
  line-height: 1.5;
  max-width: 600px;
  font-size: text(small);
}
section {
 @extend %center-whole;
  img {
    max-width: 100%;
    height: auto;
  }
}
ul {
  text-decoration: none;
  list-style: none;
}


/************ Classes *************/
#home span { 
  @extend %span;
}
.fa {
  padding-top: 0;
  padding-bottom: 0;
  font-size: text(medium);
  color: $white;
}
.fa:visited,
.fa:hover,
.fa:active {
  color: $pink;
}
.row {
  div {
    padding: 0;
  }
}
.vertical-align {
  @extend %center-whole;
}
.social-icons {
  display: inline-flex;
}

/************ IDs *************/
#about {
  background-color: $light-grey;
}
footer {
  margin: 0;
  padding: 0;
}
#contact {
  position: relative;
  background: black;
  color: $white;
  ul { 
    margin: 3% 0;
    @extend %center;
    line-height: 1.5;
    padding: 0; 
    a:hover { color: $dark-teal;}
  }
  p, a {  color: $white; }
  footer p { font-size: text(xsmall); }
}
#headshot {
  width: 200px;
  margin: 5%;
}
#home {
  img {
    position: absolute;
    bottom: 5%;
    animation: scroll-more;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }  
  color: $white;
  @include linear-gradient;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#contact,
#home,
#about {
  min-height: 100vh;
}
#projects {
  .vertical-align {
    margin: 8% 0;
  }
  padding: 0;
  p:not(first-of-type) {
    padding: 0 10%;
    margin: 0;
  }
  .btn-default {
    border:2px solid $dark-teal;
    border-radius: 5px;
    padding: 2% 4%;
    margin: 3% 0;
    text-transform: text(caps);
    font: {
    weight: text(heavy);
    size: text(small);
  }
    transition: background-color 0.2s ease-in, color 0.2s ease-in; 
    &:hover {
      color: $white;
      background-color: $dark-teal;
    }
  }
}
#mobile-menu {
  position: fixed;
  top: 2%;
  left: 2%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: transparent;
  background: $pink;
  z-index: z(nav-icon);
  outline: none;
}


/************ Media Queries *************/
@media screen and (min-width: screen(xs)) and (max-width: screen(sm)) {
  h2 { left: 25%; }
}
@media screen and (min-width: screen(sm)) {
  h1 {  font-size: lg-text(tablet); }
  #mobile-menu { 
    width: 80px;
    height: 80px;
  }
}
@media screen and (min-width: screen(md)) {
  h1 { font-size:lg-text(laptop); }
  nav { flex-direction: row; 
    a { padding: 0 4%; }
  }
  .flex-item-1 { order: 1;}
  .flex-item-2 { order: 2;}
}
@media screen and (min-width: screen(lg)) {
  h1 { font-size: lg-text(desktop); }
  figure { width: 50%; }
  #projects div { display: flex; }
  #projects .vertical-align { width: 50%; }
}
