/************************* ANIMATIONS **************************/
@keyframes fade-in {
    0%,
    50% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes scroll-more {
  0% { transform: translateY(0); }
  15% { transform: translateY(30%);  }
  30% { transform: translateY(0); }
  45% { transform: translateY(30%);  }
  60% {  transform: translateY(0); }
  70% { transform: scale(1.15); }
  80% { transform: scale(1); }
  90% { transform: scale(1.15); }
  100% { transform: scale(1); }
  }